# This is Git's per-user configuration file
# To create a RubyGem for J1, no REAL user is needed
# because the git repo is used only for the creation
# process
# ------------------------------------------------------------------------------
[user]
  name =  Dummy User
  email = user@dummy.nowhere

# Anyway, some helpful shortcuts to access other repos
# process
[alias]
  st = status
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  co = checkout
  ci = commit
  br = branch
